<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COKUDROVOMAP</title>
    <style>
        .reglog{
        display: flex;
        flex-direction: row;
        }
    </style>
</head>
<body style="margin: 0;">
<div class="name">
    <h1>{{name}}</h1>
</div>
<div class="reglog">
    <form method="post" action="userRegister">
    {% csrf_token %}
    {{regform.name}} <br>
    {{regform.password}} <br>
    {{regform.passwordConfirm}} <br>
    <button type="submit">Зарегистрироваться</button>
    </form>
    <form method="post" action="userLogin">
    {% csrf_token %}
    {{logform.name}} <br>
    {{logform.password}} <br>
    <button type="submit">Войти</button>
    </form>
</div>
<form method="post" action="login">
{% csrf_token %}
<button>Войти</button>
</form>
</body>
</html>