<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COKUDROVOMAP</title>
    <style>
        .tabs{
        display: flex;
        justify-content: flex-left;
        background: rgb(0, 150, 255);
        padding: 10px 10px;
        }
        .tab{
        padding-right: 20px;
        }
        .text{
        color: white;
        }
        .name{
        color: white;
        background: rgb(0, 100, 255);
        padding: 10px 10px;
        }
        .schoolImg{
        display: flex;
        flex-direction: column;
        }
    </style>
</head>
<body style="margin: 0;">
<div class="name">
    <h1>{{name}}</h1>
</div>
<div class="tabs">
    <div class="tab">
        <a href="./map.html">
            <div class="text">Карта</div>
        </a>
    </div>
    <div class="tab text">|</div>
    <div class="tab">
        <a href="./notes.html">
            <div class="text">Заметки</div>
        </a>
    </div>
    <div class="tab text">|</div>
    <div class="tab">
        <a href="./settings.html">
            <div class="text">Настройки</div>
        </a>
    </div>
</div>
<div class="schoolImg">
    {% load static %}
    <img src="{% static 'main/media/schoolName.png' %}" width="640" height="133"/>
    <img src="{% static 'main/media/school.png' %}" width="640" height="457"/>
    <div>
        <a href="https://educentr-kudrovo.vsevobr.ru/"><h2 style="padding-left: 10px;">Официальный сайт школы</h2></a>
        <a href="https://e-school.obr.lenreg.ru/authorize/login"><h2 style="padding-left: 10px;">Электронный дневник (гиссоло)</h2></a>
    </div>
</div>
</body>
</html>