<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COKUDROVOMAP</title>
    <style>
        .tabs{
        display: flex;
        justify-content: flex-left;
        background: rgb(0, 150, 255);
        padding: 10px 10px;
        }
        .tab{
        padding-right: 20px;
        }
        .text{
        color: white;
        }
        .name{
        color: white;
        background: rgb(0, 100, 255);
        padding: 10px 10px;
        }
        .back{
        display: flex;
        justify-content: flex-end;
        color: white;
        }
    </style>
</head>
<body>
<div class="name">
    <h1>Карта</h1>
</div>
<div class="tabs">
    <div class="tab">
        <a href="./map.html">
            <div class="text">Карта</div>
        </a>
    </div>
    <div class="tab text">|</div>
    <div class="tab">
        <a href="./notes.html">
            <div class="text">Заметки</div>
        </a>
    </div>
    <div class="tab text">|</div>
    <div class="tab">
        <a href="./settings.html">
            <div class="text">Настройки</div>
        </a>
    </div>
    <div class="tab text">|</div>
    <a href="./index.html">
        <div class="back">На главную</div>
    </a>
</div>
</body>
</html>